*{
  margin: 0;
  padding-left: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #0A0909;
  color: white;
}
#top{
  width: 100%;
  height: 100vh;
  background: url(images/bodybg.png);
  background-size: cover;
  background-position: center;
}
.logo{
  width: 140px;

}
.container{
  padding: 10px 10%;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
}
/*nav ul li a::after{
  content: "";
  width:100%;
  height: 3px;
  position: absolute;
  background: #ACA6A6;
  left: 0;
  bottom: -6px;
}*/
span{
  color: #ACA6A6;
}
.texts{
  margin-top: 20%;
  font-size:30px;
}
.texts h1{
  font-size: 60px;
  margin-top: 20px;
}
.icons{
  margin-left: 200px;
  margin-top: 20px;
}
.icons i{
  font-size: 50px;
  color:white;
}
.icons i:hover{
  font-size: 50px;
  color:#005191;
}

/*about*/
#about{
  margin-top: 50px;
  padding: 80px 0;
  color: white;
}
.content-holder{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.firstside{
  flex-basis: 35%;
}
.firstside img{
  width: 90%;
  height: 500px;
}
.secondside{
  flex-basis: 60%;
  margin-top: 12%;
}
